
.comments-details {
    padding: 15px 15px;
    button.btn.dropdown-toggle,.total-comments {
      font-size: 18px;
      font-weight: 500;
      color: #5e5e5e;
    }
}
.comments{

  .comments .dropdown,
  .dropup {
      position: relative;
  }
  button {
      background-color: transparent;
      border: none;
  }
  .comment-box {
      width: 100%;
      float: left;
      height: 100%;
      background-color: #FAFAFA;
      padding: 10px 10px 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid #ddd;
  }
  .add-comment {
      background-color: transparent;
      border: none;
      position: relative;
      margin-bottom: 50px;
  }
  .commenter-pic {
      width: 50px;
      height: 50px;
      display: inline-block;
      border-radius: 100%;
      border: 2px solid #fff;
      overflow: hidden;
      background-color: #fff;
  }
  .add-comment .commenter-name {
      width: 100%;
      padding-left: 75px;
      position: absolute;
      top: 20px;
      left: 0px;
  }
  .add-comment input {
      border-top: 0px;
      border-bottom: 1px solid #ccc;
      border-left: 0px;
      border-right: 0px;
      outline: 0px;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
      padding: 0;
      font-weight: normal;
  }
  .add-comment input:focus {
      border-color: #03a9f4;
      border-width: 2px;
  }
  .add-comment button[type=submit] {
      background-color: #03a9f4;
      color: #fff;
      margin-right: 0px;
  }
  .add-comment button {
      background-color: #f5f5f5;
      margin: 10px 5px;
      font-size: 14px;
      text-transform: uppercase;
      float: right;
  }
  .commenter-name .comment-time {
      font-weight: normal;
      margin-left: 8px;
      font-size: 15px;
  }
  p.comment-txt {
      font-size: 15px;
      border-bottom: 1px solid #ddd;
      padding: 0px 0px 15px;
  }
  .commenter-name {
      display: inline-block;
      position: relative;
      top: -20px;
      left: 10px;
      font-size: 16px;
      font-weight: bold;
  }
  .comment-meta {
      font-size: 14px;
      color: #333;
      padding: 2px 5px 0px;
      line-height: 20px;
      float: right;
  }
  .reply-box {
      display: none;
  }
  .replied {
      background-color: #fff;
      width: 95%;
      float: right;
      margin-top: 15px;
  }
}

/*======Responsive CSS=======*/
@media (max-width: 767px){
  .comments{

    .commenter-name {
        font-size: 13px;
        top: -5px;
    }
    .commenter-pic {
        width: 40px;
        height: 40px;
    }
    .commenter-name a{
      display: block;
    }
    .commenter-name .comment-time{
      display: block;
      margin-left: 0px;
    }
  } 
}
