.frv-theme-dark{
  background-color: $gray-900;
  .content-wrapper{
    background-color: $gray-800;
    .navbar{
      background-color: $gray-900;
    }
  }
  .card{
    background-color: $gray-900;
    border: 1px solid $gray-800;
    color: $gray-100;
    .card-header{
      background-color: $gray-800;
      color: lighten($primary, 25%);
      border-bottom: 1px solid $gray-800;
    }
  }
  .comments{
    .comment-box {
      background-color: $gray-900;
      border: 1px solid $gray-800;
      color: $gray-100;
      .commenter-pic{
        background-color: $gray-600;
        border: 2px solid $gray-600;
      }
      .comment-meta{
        color: $gray-100;
        button{
          color: $gray-500;
        }
      }
    }
  }
  
}

.frv-theme-light{
  background-color: $white;
  .sidebar{
    background-color: $gray-200;
  }
  .content-wrapper{
    background-color: $gray-100;
    .navbar{
      background-color: $gray-100;
    }
  }
  .card{
    background-color: $white;
    border: 1px solid $gray-200;
    color: $gray-800;
    .card-header{
      background-color: $gray-100;
      color: lighten($primary, 25%);
      border-bottom: 1px solid $gray-200;
    }
  }
}